.App {
    text-align: center;
    background: url('/assets/images/search.png') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding-left: 20px;
}

.App-header {
    padding: 20px;
    color: white;
    display: flex;
    justify-content: flex-start;
    width: auto;
    position: absolute;
    top: 50;
    left: 20px;
}

.search-box {
    display: flex;
    margin-top: 120px;
    width: 100%;
    margin-left: 20px;
}

.search1 {
    padding: 10px;
    font-size: 16px;
    border: #FFBA42 2px solid;
    border-radius: 5px 0 0 5px;
    width: 50%;
}

.search1:focus {
    border: #FFBA42 2px solid !important;
    outline: none;
    border-color: transparent;
    box-shadow: none;
}

.search-box button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #FFBA42;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}